* {
  font-family: 'Chakra Petch', sans-serif;
  background: transparent;
  margin: 0;
}

body {
  height: 100%;
  color: #476162;
  margin-top: 5%;
  padding-left: 25px;
  padding-right: 25px;
  background-image: radial-gradient(circle, #dce8e8, #dce8e8, #dce8e8, #ffe4b5);
}

.home_contents {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  overflow: visible;
  background-color: transparent;
}

h1.home_contents_1 {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: transparent;
}

p.home_contents_2 {
  padding-top: 10px;
  padding-bottom: 5px;
  border-top: 1px solid #476162;
  background-color: transparent;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  background-color: transparent;
}

.column {
  float: left;
  width: 49%;
  padding-right: 1px;
  padding-left: 1px;
  padding-top: 5px;
  padding-bottom: 10px;
  background-color: transparent;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.beehiiv_embed {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: transparent;
}

.folks_line {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: transparent;
}

.folks_list {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: transparent;
}

h2.summary {
  padding-bottom: 5px;
  background-color: transparent;
}

a {
  color: #476162;
}

.links {
  border-top: 1px solid #476162;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: transparent;
}
