* {
  margin: 0px;
  padding: 0px;
  font-family: 'Chakra Petch', sans-serif;
}

body {
  background-color: #476162;
  background-image: linear-gradient(131deg, #2C3B3B, #476162, #3A6E70);
  height: auto;
  text-align: left;
  color: #dce8e8;
  padding-right: 25px;
  padding-bottom: 50px;
  padding-left: 25px;
}

header {
  height: auto;
  background-color: transparent;
  padding-top: 30px;
  overflow: visible;
}

footer {
  height: auto;
  padding-top: 100px;
  padding-bottom: 200px;
}

.column {
  float: left;
  width: 40%;
  padding-right: 25px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

a {
  color: #dce8e8;
}

.home_menu {
  padding-top: 20px;
  background-color: red;
  height: 100%;
}

.one_liner {
  padding-top: 20px;
}

.another_one_liner p {
  padding-top: 20px;
}

.call_action p {
  padding-top: 20px;
}

.beehiiv_embed {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}

.stats {
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 470px;
  color: #476162;
  background-color: #dce8e8;
  border-radius: 20px;
}

p.stats_line {
  padding-left: 20px;
  padding-right: 20px;
}

ul.stats_list {
  padding-left: 35px;
  padding-right: 15px;
  padding-top: 15px;
}

h1.folks_line {
  padding-top: 10px;
}

.folks_list {
  padding-top: 10px;
}
